<script src="/bower_components/jquery/jquery.min.js"></script>
<% if(settings.env == "production"){ %>
<script src="/bower_components/angular/angular.min.js"></script>
<% } else{ %>
<script src="/bower_components/angular/angular.js"></script>
<% } %>
<script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="/bower_components/angular-translate/angular-translate.min.js"></script>
<script src="/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>

<script src="/bower_components/marked/lib/marked.js"></script>
<script src="/bower_components/jsonkit/jsonkit.js"></script>
<script src="/bower_components/google-code-prettify/src/prettify.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>



<% if(settings.env == "production"){ %>
<script src="/app/dist/app.min.js"></script>

<% include ../../statistic/baidu.html %>

<% } else{ %>
<script src="/app/js/utils/labelBase.js"></script>


<script src="/app/js/directivetemplates.js"></script>
<script src="/app/js/config.js"></script>
<script src="/app/js/model.js"></script>
<script src="/app/js/services.js"></script>

<script src="/app/js/translationb2c.js"></script>
<script src="/app/js/translationmarksimos.js"></script>

<script src="/app/js/directives/website_component.js"></script>
<script src="/app/js/directives/website/basicDirectives.js"></script>
<script src="/app/js/directives/website/userHeader.js"></script>
<script src="/app/js/directives/website/chatWindow.js"></script>
<script src="/app/js/directives/website/b2cSubMenu.js"></script>
<script src="/app/js/directives/website/b2cHeader.js"></script>


<script src="/app/js/filter.js"></script>
<script src="/app/js/appmarksimoshelp.js"></script>
<% } %>



</body>
</html>