<div class="col-md-12">
	<div class="panel panel-default product_portfolio">
	
		<div class="panel-heading text-center">Actions</div>
		<table class="table  table-bordered table-hover">
			
			<tbody>
				<tr>
					<td>Actions émises ou revendues (+/- ' 000 dh)</td>
					<td>
						<input type="number" class="form-control required   pristine" ng-model="data.currentCompany.decision.sharesVariation" ng-disabled="data.currentCompanyDecisionLock.lockStatus" />
					</td>
			
				</tr>
				
				<tr>
					<td>Dividende (%)</td>
					<td>
						<input type="number" class="form-control required   pristine" ng-model="data.currentCompany.decision.dividend" ng-disabled="data.currentCompanyDecisionLock.lockStatus" />
					</td>
				
				</tr>				
			</tbody>
		</table>
	</div>
	
	<div class="panel panel-default product_portfolio">
	
		<div class="panel-heading text-center">Placements</div>
		<table class="table  table-bordered table-hover">
			
			<tbody>
				<tr ng-repeat="bkAccount in data.currentCompany.decision.bankAccounts">
					<td>Emprunts Moyen Terme (' 000 dh)</td>
					<td>
						<input type="number" class="form-control required   pristine" ng-model="bkAccount.termLoans" ng-disabled="data.currentCompanyDecisionLock.lockStatus" />
					</td>
					
					<td>Dépôts à terme (+/- ' 000 dh)</td>
					<td>
						<input type="number" class="form-control required   pristine" ng-model="bkAccount.termDeposit"  ng-disabled="data.currentCompanyDecisionLock.lockStatus" />
					</td>
				</tr>	
			</tbody>
		</table>
	</div>		
			
</div>
