<div class="row ">

	
	
	<div class="col-md-10 col-md-offset-1 product_portfolio">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Plan</a></li>
			<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Qualité</a></li>
			<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Approvisionnements</a></li>
			<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Machines</a></li>
		</ul>
		
		
		<!-- Tab panes -->
		 <div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="home">
				<h4>Composants sous-traités</h4>
		
				<table class="table table-striped table-bordered table-hover">

					<thead>
						<tr>
							<th></th>					
							<th ng-repeat="product in data.currentCompany.products">{{data.currentCompany.productsRefs[$index]}}</th>
						</tr>
					</thead>
					
					<tbody>
						<tr>
							<td>Unités</td>
							<td ng-repeat="subProduct in data.currentCompany.subProducts">
								<input type="number" class="form-control" ng-model="subProduct.subcontractQ" ng-disabled="data.currentCompanyDecisionLock.lockStatus" />
							</td>
						</tr>
						
						
					</tbody>
				</table>
			</div>
			
			<div role="tabpanel" class="tab-pane fade" id="profile">
				<h4>Qualité</h4>
				<table class="table table-striped table-bordered table-hover">

					<thead>
						<tr>
							<th></th>					
							<th ng-repeat="product in data.currentCompany.products">{{data.currentCompany.productsRefs[$index]}}</th>
						</tr>
					</thead>
					
					<tbody>
						<tr>
							<td>Temps montage (minutes)</td>
							<td ng-repeat="product in data.currentCompany.products">
								<input type="number" class="form-control" ng-model="product.assemblyTime" ng-disabled="data.currentCompanyDecisionLock.lockStatus" />
							</td>
						</tr>
						
						<tr>
							<td>Matières premières haute qualité en %</td>
							<td ng-repeat="product in data.currentCompany.products">
								<input type="number" class="form-control" ng-model="product.premiumMaterialPropertion" ng-disabled="data.currentCompanyDecisionLock.lockStatus" />
							</td>
						</tr>
						
						<tr>
							<td>Perfectionnements adoptés</td>
							<td ng-repeat="product in data.currentCompany.products">
								<input type="number" class="form-control" ng-model="product.improvementsTakeup" ng-disabled="data.currentCompanyDecisionLock.lockStatus" />
							</td>
						</tr>
						
						<tr>
							<td>Dépenses R &amp; D (' 000 Dh)</td>
							<td ng-repeat="product in data.currentCompany.products">
								<input type="number" class="form-control" ng-model="product.developmentBudget" ng-disabled="data.currentCompanyDecisionLock.lockStatus" />
							</td>

						</tr>
						
					</tbody>
				</table>
			</div>
			
			<div role="tabpanel" class="tab-pane fade" id="messages">
				<h4>Achats de Matières Premières (' 000 unité)</h4>
				
				<table class="table table-striped table-bordered table-hover">

					<thead>
						<tr>
							<th></th>					
							<th ng-repeat="future in data.currentCompany.materials[0].purchases">{{data.currentCompany.futuresRefs[$index]}}</th>
						</tr>
					</thead>
					
					<tbody>
						<tr ng-repeat="material in data.currentCompany.materials">
							<td>Unités</td>
							<td ng-repeat="purchase in material.purchases">
								<input type="number" class="form-control" ng-model="purchase.quantity" ng-disabled="data.currentCompanyDecisionLock.lockStatus" />
							</td>
						</tr>				
					</tbody>
				</table>
			</div>
			
			<div role="tabpanel" class="tab-pane fade" id="settings">
				<h4>Maintenance</h4>
				<table class="table table-striped table-bordered table-hover">

					<thead>
						<tr>
							<th></th>					
							<th ng-repeat="machine in data.currentCompany.machineries">Machines Type {{$index + 1}}</th>
						</tr>
					</thead>
					
					<tbody>
						<tr>
							<td>Heures maintenance</td>
							<td ng-repeat="machine in data.currentCompany.machineries">
								<input type="number" class="form-control" ng-model="machine.maintenanceHours" ng-disabled="data.currentCompanyDecisionLock.lockStatus" />
							</td>
						</tr>				
					</tbody>
				</table>
			</div>
			
		</div>
	</div>
</div>
		
					
					
		
		
		
		
	
		
		
		
		
		