<table class="table table-striped table-bordered table-hover">

			<thead>
				<tr>
					<th colspan="6">Ressources</th>
				</tr>
			</thead>
			
			<tbody>
				<tr>
					<td>Heures maintenance / machine</td>
					<td ng-repeat="mach in machines">
						<label for="aec"></label>
						<span id="sprytextfield54">
							<input name="macm" type="text" ng-model="mach.maintenanceHours" style="width:30px;" value="40" maxlength="2" autocomplete="off">
							<span class="textfieldInvalidFormatMsg">format non valide</span><span class="textfieldMinValueMsg">La valeur indiquée est inférieur au minimum requis (0)</span><span class="textfieldMaxValueMsg">La valeur saisie est supérieure ࡬a maximale requise (é)</span>
						</span>
					</td>

					<td colspan="3">Nombre rotation équipes (1-3)</td>
					<td>
						<label for="aec"></label>
						<span id="sprytextfield55">
							<input name="shift" type="text" ng-model="data.currentCompany.shiftLevel" style="width:30px;" value="2" maxlength="1" autocomplete="off">
							<span class="textfieldInvalidFormatMsg">format non valide</span><span class="textfieldMinValueMsg">La valeur indiquée est inférieur au minimum requis (1)</span><span class="textfieldMaxValueMsg">La valeur saisie est supérieure ࡬a maximale requise (3)</span>
						</span>
					</td>
				</tr>

				<tr ng-repeat="eCom in data.currentCompany.eCommerces">
					<td>Nombre total Ports opérationnels</td>
					<td>
						<label for="aec"></label>
						<span id="sprytextfield56">
							<input name="intp" type="text" ng-model="eCom.websitePortsNb" style="width:30px;" value="22" maxlength="2" autocomplete="off">
							<span class="textfieldInvalidFormatMsg">format non valide</span><span class="textfieldMinValueMsg">La valeur indiquée est inférieur au minimum requis (0)</span><span class="textfieldMaxValueMsg">La valeur saisie est supérieure ࡬a maximale requise (é)</span>
						</span>
					</td>
					<td colspan="3">Développement site internet (' 000 dh)</td>
					<td>
						<label for="aec"></label>
						<span id="sprytextfield57">
							<input name="webd" type="text" ng-model="eCom.websiteDevBudget" style="width:30px;" value="41" maxlength="3" autocomplete="off">
							<span class="textfieldInvalidFormatMsg">format non valide</span><span class="textfieldMinValueMsg">La valeur indiquée est inférieur au minimum requis (0)</span><span class="textfieldMaxValueMsg">La valeur saisie est supérieure ࡬a maximale requise (é9)</span>
						</span>
					</td>
				</tr>

				<tr>
					<th colspan="6">personnel</th>
				</tr>

				<tr ng-repeat="worker in data.currentCompany.workers">
					<td>Ouvriers qualifiés recrut (+) / licenc (-)</td>
					<td>
						<label for="aec"></label>
						<span id="sprytextfield58">
							<input name="workh" type="text" ng-model="worker.hire" style="width:30px;" value="0" maxlength="2" autocomplete="off">
							<span class="textfieldInvalidFormatMsg">format non valide</span><span class="textfieldMinValueMsg">La valeur indiquée est inférieur au minimum requis (-9)</span><span class="textfieldMaxValueMsg">La valeur saisie est supérieure ࡬a maximale requise (é)</span>
						</span>
					</td>

					<td>
						<label for="aec"></label>
						<span id="sprytextfield59">
							<input name="workt" type="text" ng-model="worker.trainedNb" style="width:30px;" value="0" maxlength="1" autocomplete="off">
							<span class="textfieldInvalidFormatMsg">format non valide</span><span class="textfieldMinValueMsg">La valeur indiquée est inférieur au minimum requis (0)</span><span class="textfieldMaxValueMsg">La valeur saisie est supérieure ࡬a maximale requise (9)</span>
						</span>
					</td>

					<td>
						<label for="aec"></label>
						<span id="sprytextfield59">
							<input name="workt" type="text" ng-model="worker.hourlyWageRate" style="width:30px;" value="0" maxlength="1" autocomplete="off">
							<span class="textfieldInvalidFormatMsg">format non valide</span><span class="textfieldMinValueMsg">La valeur indiquée est inférieur au minimum requis (0)</span><span class="textfieldMaxValueMsg">La valeur saisie est supérieure ࡬a maximale requise (9)</span>
						</span>
					</td>

				</tr>

				<tr>
					<td>Budget Gestion (' 000 dh)</td>
					<td>
						<label for="aec"></label>
						<span id="sprytextfield61">
							<input name="budg" type="text" ng-model="data.currentCompany.managementBudget" style="width:30px;" value="165" maxlength="3" autocomplete="off">
							<span class="textfieldInvalidFormatMsg">format non valide</span><span class="textfieldMinValueMsg">La valeur indiquée est inférieur au minimum requis (30)</span><span class="textfieldMaxValueMsg">La valeur saisie est supérieure ࡬a maximale requise (é9)</span>
						</span>
					</td>

					<td colspan="3">Formation (en jours)</td>
					<td>
						<label for="aec"></label>
						<span id="sprytextfield62">
							<input name="staff" type="text" ng-model="data.currentCompany.staffTrainingDays" style="width:30px;" value="4" maxlength="2" autocomplete="off">
							<span class="textfieldInvalidFormatMsg">format non valide</span><span class="textfieldMinValueMsg">La valeur indiquée est inférieur au minimum requis (0)</span><span class="textfieldMaxValueMsg">La valeur saisie est supérieure ࡬a maximale requise (90)</span>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>