<div class='panel panel-success my-success-panel'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Market Research Orders Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{'DecisionPageDecisionBIOrders' | translate}}
        </h3>
    </div>


    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th>{{'DecisionPageDecisionBIReport' | translate}}</th>
                <th>{{'DecisionPageDecisionBICost' | translate}}</th>
                <th>
                    <p class="text-right" ng-show="!isDecisionLocked" >{{'YES' | translate}} ?
                        <a href="#" editable-checkbox="buyAll" onbeforesave='checkAll($data)' onaftersave="buyAllReports($data)">
                            {{ buyAll && ('ALL' | translate) || ('NO' | translate) }}
                        </a>
                    </p>
                    <p ng-show="isDecisionLocked" class="text-right text-muted">
                        {{'ALL' | translate}} ? {{ buyAll && ('ALL' | translate) || ('NO' | translate) }}
                    </p>
                </th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat='playData in playDatas'>
                <td>{{playData.name}}</td>
                <td>{{playData.reportPrice.toFixed(2)}}</td>
                <td>
                    <a href="#" editable-checkbox="playData.playerStatus" e-title="{{'BUY' | translate}} ?" ng-show="!isDecisionLocked" onbeforesave='checkBudget(playData.reportPrice,$data)' onaftersave="submitOrder($index,$data)">
                        <p class="text-right">
                            <span class="glyphicon glyphicon-shopping-cart" ng-show='playData.playerStatus'></span>
                            {{ playData.playerStatus && ('BUY' | translate) || ('NO' | translate) }}
                        </p>
                    </a>
                    <p ng-show="isDecisionLocked" class="text-right text-muted">
                        {{ playData.playerStatus && ('BUY' | translate) || ('NO' | translate) }}
                   </p>
                </td>
            </tr>
        </tbody>
    </table>

</div>