<div class='panel panel-success my-success-panel'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Market Research Orders Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{'DecisionPageDecisionBIOrders' | translate}}
        </h3>
    </div>


    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th class="col-md-4">{{'DecisionPageDecisionBIReport' | translate}}</th>
                <th class="col-md-1">{{'DecisionPageDecisionBICost' | translate}}</th>
                <th class="col-md-1">
                    <p class="text-right" ng-show="!isDecisionLocked" >
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        {{'YES' | translate}} ?
                        <a href="#" editable-checkbox="buyAll" onbeforesave='checkAll($data)' onaftersave="buyAllReports($data)">
                            {{ buyAll && ('ALL' | translate) || ('NO' | translate) }}
                        </a>
                    </p>
                    <p ng-show="isDecisionLocked" class="text-right text-muted">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        {{'ALL' | translate}} ? {{ buyAll && ('ALL' | translate) || ('NO' | translate) }}
                    </p>
                </th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat='playData in playDatas'>
                <td>{{playData.name}}</td>
                <td>{{playData.reportPrice.toFixed(2)}}</td>
                <td>
                    <input type="checkbox" class="form-control input-sm editable-has-buttons editable-input ng-valid" ng-model="playData.playerStatus" ng-disabled="isDecisionLocked" onbeforesave='checkBudget(playData.reportPrice,$data)' onaftersave="submitOrder($index,$data)" />
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div style="clear:both"></div>