<div class='panel panel-success my-success-panel'>
	<div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Quality Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Quality')}}
        </h3>
    </div>

    <table class="table table-condensed table-bordered table-success">
    	<thead>
    		<tr>
    			<th class="category-header" style="width:125px">{{Label.getContent('Products')}}</th>

    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Assembly Time Info')}}" popover-title="{{Label.getContent('Assembly Time')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Assembly Time')}} <span style="font-size:12px" class="glyphicon glyphicon-info-sign"></span></p>
    			</th>

    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Premium Material Prop Info')}}" popover-title="{{Label.getContent('Premium Material Prop')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Premium Material Prop')}} <span style="font-size:12px" class="glyphicon glyphicon-info-sign"></span></p>
    			</th>

				<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Development Budget Info')}}" popover-title="{{Label.getContent('Development Budget')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Development Budget')}} <span style="font-size:12px" class="glyphicon glyphicon-info-sign"></span></p>
    			</th>
				
				<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Implement Improvements Info')}}" popover-title="{{Label.getContent('Implement Improvements')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Implement Improvements')}} <span style="font-size:12px" class="glyphicon glyphicon-info-sign"></span></p>
    			</th>
    			
    		</tr>

    	</thead>

    	<tbody>
    		<tr ng-repeat='product in products'>
    			<th>{{productsRefs[$index]}}</th>

    			<td>
					<input type="number" ng-model="product.assemblyTime" ng-disabled="isDecisionLocked" class="editable-has-buttons editable-input form-control input-sm ng-pristine ng-valid" />
				</td>

    			<td>
    				<input type="number" ng-model="product.premiumMaterialPropertion" ng-disabled="isDecisionLocked" class="editable-has-buttons editable-input form-control input-sm ng-pristine ng-valid" />
				</td>

				<td>
    				<input type="number" ng-model="product.developmentBudget" ng-disabled="isDecisionLocked" class="editable-has-buttons editable-input form-control input-sm ng-pristine ng-valid" />
				</td>

    			<td>
					<input type="checkbox" ng-model="product.improvementsTakeup" class="form-control input-sm editable-has-buttons editable-input ng-valid" ng-disabled="isDecisionLocked" />
				</td>

    		</tr>

    	</tbody>
    </table>
</div>




<div class='panel panel-success my-success-panel'>
	<div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Subcontracting Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Subcontracting')}}
        </h3>
    </div>

    <table class="table table-condensed table-bordered table-success">
    	<thead>
    		<tr>
    			<th></th>
                <th ng-repeat="product in products" class="text-center" width="200">{{productsRefs[$index]}}</th>
    		</tr>

    	</thead>

    	<tbody>
			<tr>
                <th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Subcontracting Units Info')}}" popover-title="{{Label.getContent('Subcontracting Units')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Subcontracting Units')}} <span style="font-size:12px" class="glyphicon glyphicon-info-sign"></span></p>
    			</th>

                <td ng-repeat="subProduct in subProducts">
					<input type="number" ng-model="subProduct.subcontractQ" ng-disabled="isDecisionLocked" class="editable-has-buttons editable-input form-control input-sm ng-pristine ng-valid" />
                </td>

            </tr>
    	</tbody>
    </table>
</div>




<div class='panel panel-success my-success-panel'>
	<div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Purchases Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Purchases')}}
        </h3>
    </div>

    <table class="table table-condensed table-bordered table-success">
		<thead>
			<tr>
				<th></th>				
				<th ng-repeat="future in materials[0].purchases" class="text-center" width="200">{{futuresRefs[$index]}}</th>
			</tr>
		</thead>
		
		<tbody>
			<tr ng-repeat="material in materials">
				<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Purchases Units Info')}}" popover-title="{{Label.getContent('Purchases Units')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Purchases Units')}}
						<span style="font-size:12px" class="glyphicon glyphicon-info-sign"></span>
					</p>
    			</th>

				<td ng-repeat="purchase in material.purchases">
					<input type="number" ng-model="purchase.quantity" ng-disabled="isDecisionLocked" class="editable-has-buttons editable-input form-control input-sm ng-pristine ng-valid" />
				</td>
			</tr>				
		</tbody>
    </table>
</div>

<div style="clear:both"></div>